<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
  }

  h1 {
    line-height: 100%;
  }

  p {
    color: #94a3b8;
    font-size: 18px;
  }

  .left-side h1 {
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  main {
    width: 100%;
    background-color: rgba(15, 23, 42);
    min-height: 100%;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    box-sizing: inherit;
    position: relative;
  }

  .left-side h1 {
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol";
  }

  .socials i {
    font-size: 25px;
    color: #94a3b8;
  }
  nav a{
    opacity: .5;
    transition: opacity 0.5s ease, color 0.5s ease; /* Added color transition */
  }

  nav a.active{
    background-color: hsla(171, 77%, 64%, 0.444);
    opacity: 1;
  }

  .pointer-events-none {
  pointer-events: none; /* Prevents interaction with the glow */
}


.glow {
  position: absolute;
  border-radius: 50%;
  width: 400px; /* Initial width */
  height: 400px; /* Initial height */
  background:  rgba(29, 78, 216, 0.4) ; /* Adjust opacity for visibility */
  filter: blur(150px); /* Initial blur */
  opacity: .9; /* Adjust as needed */
  transition: all 0.3s ease; /* Smooth transition */
}

.top-glow {
  top: 20px; /* Adjust top position */
  left: 0; /* Align to the left */

}

.bottom-glow {
  right: 0;
  bottom: 20px; /* Adjust bottom position */
}

</style>

<main class="">

  <div class="pointer-events-none fixed inset-0 z-30">
    <div class="glow top-glow"></div>
    <div class="glow bottom-glow"></div>
    
  </div>


  <div
    class="content  flex-col lg:flex-row flex mx-auto min-h-screen max-w-screen-xl px-2  md:px-12  lg:px-24  lg:gap-4 "
  >
    <div
      class="left-side lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:pt-10 lg:pb-24"
    >
      <section class="p-6 rounded-lg">
        <h1 class="text-5xl font-bold text-white animate-me">
          <svg class="relative lg:w-full md:w-1/2"  height="100">
            <rect
              id="theRect"
              x="0"
              y="85"
              width="0"
              height="100"
              fill="#fff"
              fill-opacity=".3"
            />
            <text
              id="theText"
              x="0"
              y="90"
              stroke-dasharray="100%"
              stroke-dashoffset="100%"
              text-anchor="start"
              
              fill="#fff"
              fill-opacity="0"
              stroke-opacity=".7"
              stroke="#fff"
              stroke-width="0.9"
              stroke-miterlimit="1"
              stroke-linejoin="miter"
              class="hidden-text lg:text-6xl md:text-5xl text-4xl"
            >
              OLURIN ANJOLA
            </text>
          </svg>
        </h1>
        <h1 class="text-2xl py-5 font-normal text-white animate-me">
          Full-Stack Developer
        </h1>

        <p class="text-gray-700 lg:w-2/3   animate-me">
          I build pixel-perfect, engaging, and accessible digital experiences..
        </p>
      </section>

      <nav class="p-6 hidden lg:block">
        <ul class="list-none">
          <li>
           <a href="#about"  class="text-lg relative  font-bold my-5 text-white"  [class.active]="activeSection === 'about'">
           
              About
              <svg class="absolute top-1/2" width="35" height="10">
                <rect
                  id=""
                  x="0"
                  y="7"
                  width="70"
                  height="3"
                  fill="#5EEAD4"
                  fill-opacity=".5"
                />
              </svg>
           </a>
          </li>

          <li>
            <a href="#experience"  class="text-lg relative  font-bold my-5 text-white"  [class.active]="activeSection === 'experience'">
              Experience
              <svg class="absolute top-1/2" width="35" height="10">
                <rect
                  id=""
                  x="0"
                  y="7"
                  width="70"
                  height="3"
                  fill="#fff"
                  fill-opacity=".5"
                />
              </svg>
            </a>
          
          </li>

          <li>
            <a href="#project" class="text-lg relative  font-bold my-5 text-white" [class.active]="activeSection === 'project'"> 
              Projects
              <svg class="absolute top-1/2" width="35" height="10">
                <rect
                  id=""
                  x="0"
                  y="7"
                  width="70"
                  height="3"
                  fill="#fff"
                  fill-opacity=".5"
                />
              </svg>
             </a>

           
          </li>
        </ul>
      </nav>

      <div class="socials p-6">
        <ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
          <li class="animate-me mr-5 text-xs shrink-0">
            <a
              class="block hover:text-slate-200"
              href="https://github.com/bchiang7"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub (opens in a new tab)"
              title="GitHub"
              ><span class="sr-only">GitHub</span>

              <i class="fa-brands fa-github"></i>
            </a>
          </li>

          <li class="animate-me mr-5 text-xs shrink-0">
            <a
              class="block hover:text-slate-200"
              href="https://github.com/bchiang7"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub (opens in a new tab)"
              title="GitHub"
              ><span class="sr-only">GitHub</span>

              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>

          <li class="animate-me mr-5 text-xs shrink-0">
            <a
              class="block hover:text-slate-200"
              href="https://github.com/bchiang7"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub (opens in a new tab)"
              title="GitHub"
              ><span class="sr-only">GitHub</span>

              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>

          <li class="animate-me mr-5 text-xs shrink-0">
            <a
              class="block hover:text-slate-200"
              href="https://github.com/bchiang7"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="GitHub (opens in a new tab)"
              title="GitHub"
              ><span class="sr-only">GitHub</span>

              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="right-side pt-24 lg:pl-10 px-6 lg:w-1/2 lg:py-24">
      <app-home></app-home>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
